dask_data/
**.ipynb_checkpoints
**__pycache__
**.icloud
**csv
auth.py
.DS_Store
**node_modules/**

#jan sila specific settings
docker-compose.yml
requirements.txt
Dockerfile
midterms/

#vitek specific
venv
.env
.vscode
