dask_data/
**.ipynb_checkpoints
**__pycache__
**.icloud
auth.py
.DS_Store
11_cloud_computing/part2-prepare-finished/node_modules/**
11_cloud_computing/part2-live-coding/node_modules/**

#jan sila specific settings
docker-compose.yml
requirements.txt
Dockerfile
midterms/

#vitek specific
venv
.env
.vscode
*.amltmp